.modale {
	display: none;
}
.openedModale {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	z-index: 2;
	background-color: rgba(96, 96, 96, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.innerModale {
	background-color: #ffff;
	padding: 3vh;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.greenMessage {
	font-size: 24px;
	font-weight: bold;
	color: #00995e;
}
.redMessage {
	font-size: 24px;
	font-weight: bold;
	color: #ed2917;
}

@keyframes loaderAnimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 0%;
	}
}

.loader {
	animation: loaderAnimation 3s;
	animation-fill-mode: forwards;
}
.modaleCloseButton {
	width: 10vh;
	height: 3vh;
	border-radius: 10px;
	background-color: #000;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-top: 5vh;
}
